.container-contact{
    background-color:var(--color-box-base);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 3px 6px rgb(0, 0, 0, 53%);
    min-width: 307px;
    width: 90vw;
    margin:0 auto;
    margin-bottom: 60px;

}

.container-contact form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: calc(100vw - 30px);
}

.container-btlog,.container-btsex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container-btlog button {
    background: var(--color-button-dark);
    height: 30px;
    min-width: 102px;
    border: 1px solid var(--color-button-dark);
    border-radius: 20px;
    font: 400 0.9rem Montserrat;
    color:var(--color-button-light);
    box-shadow: 0 6px 12px rgb(0, 0, 0, 5%);
    width: calc(40vw - 30px);
}

.container-btlog button:first-child{
    background: var(--color-button-light);
    color:var(--color-button-dark);
    
}

.container-btsex button{
    background: var(--color-button-light);
    border: 0;
    box-shadow: 0 6px 12px rgb(0, 0, 0, 5%);
    min-width: 104px;
    min-height: 116px;
    width: calc(40vw - 100px);
    height: calc(307px - 40vh);
    border-radius: 10px;
}

.container-btsex button:first-child{
    background: var(--color-button-dark);
    box-sizing: inherit; 
}

.container-btsex button img{
    width: 40px;
}

@media (max-width:1000px){
    
    .container-btlog button {
        height: 40px;
        width: 200px;
    }

    .container-btlog button + button {
        margin-left: 20px;
    }

    .container-btsex button{
        width: 150px;
        height: 200px;
    }

    .container-btsex button + button {
        margin-left: 40px;
    }
}

@media (min-width:1000px){
    
    .container-contact{
        background-color:transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: none;
        box-shadow:inherit;
        min-height: 0;
        margin:0 auto;
        min-width: 0;
        min-height:0;
        width: 1000px;
    
    }
    
    .container-btlog {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container-btlog button {
        background: var(--color-button-light);
        margin: 30px 25px 0 25px;
        height: 35px;
        width: 200px;
        border: 1px solid var(--color-button-dark);
        border-radius: 20px;
        font: 400 1.2rem Montserrat;
        color:var(--color-button-dark);
        cursor: pointer;
        
    }

    .container-btlog button:first-child{
        background:transparent;
        color:var(--color-button-light);
        border: 1px solid var(--color-button-light);
    }

    .container-btsex{
        display: none;
    }
}