
  .container-background {
    position: relative;
    background-image: url("../../assets/images/zachary-nelson-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container-color-screen{
    background-color: rgb(70,33,173,83%);
}

.container-body{
    display: block;
    align-content: center;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding:3rem ;  
}

.container-text {
    width: 90vw;

}

.container-text p {
    color: var(--color-title);
    font: 300 14px Montserrat;
    padding:3rem;
}

#page-text-bold {
    font: 700 40px Montserrat;
    margin-bottom: 20px;
    margin-right: 40px;

}

footer {
    position:relative;
    bottom:0 ;
    left: 0 ;
    width:100%;
    display: flex;
    justify-content: center;
    color:var(--color-box-base);
    background:var(--color-background);
    font: 300 1.3rem Montserrat;
  }