:root {
    --color-background: #4621AD;
    --color-buttonhover: #21104e;
    --color-secundary: #C6C6D0;
    --color-title: #ffffff;
    --color-text-logo: #4621AD;
    --color-text-complement: #FFEE00;
    --color-icon: #6a6180;
    --color-place-input:#CDD0D9;
    --color-box-base: #ffffff;
    --color-button-light: #ffffff;
    --color-button-dark:#4621AD;
    --color-notification:#F28CAF;
 
  
    font-size: 16px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    height: 100vmin;
    
  }

    
  body,
  input,
  button
 {
    font: 400 1rem Montserrat;
  }
  
  .container {
    width: 100vw;
    max-width: 1000px;
    
  }
  

  @media (min-width: 1000px) {
    :root {
      font-size: 14px;
      overflow-x: hidden;
    }

    .container{
      position: relative;
      width: 100vw;
    }

  }